body{
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5384616;
    color: #333333;
    background: #F7F7F7;
    background-size:60px 60px;
}

.BasicLayout{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.BasicLayout-header{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.BasicLayout-header .branding {
    display: flex;
    margin: auto;
    align-items: center;
}

.BasicLayout-header .branding span {
    font-size: 1rem;
}

.BasicLayout-main{
    margin-top: auto;
    margin-bottom: auto;
}

#invoiceTotalRow{
    font-size: 1.3rem;
}

#invoiceTotalRow #invoiceTotalText,
#invoiceTotalRow .jsCurrencySymbol{
    color: var(--primary);
}

.invoiceTableTotal th{
    font-weight: 500;
}


/* SKY GUIDE */
#sgPSEStart{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: var(--primary);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sgPSEStart i {
    font-size: 1.6rem;
    position: relative;
    top: 1px;
}

#sgTableInvoice tr:hover{
    color: var(--primary);
    cursor: pointer;
}
#sgTableInvoice img{
    width: 20px;
}
#sgTableInvoice tr td:first-child{
    width: 42px;
}
