body{
    font-family: sans-serif;
    font-size: 0.95rem;
}

$bgColor: white;

.SNTour{
    &-wrapper{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background: $bgColor;
            top: 100%;
        }
    }
    &-overlay{
        opacity: 0.8;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        pointer-events: none;
        // filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)";
        // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        // filter: alpha(opacity=50);
    }

    &-helperLayer{
        width: 810px;
        height: 70px;
        top: 0;
        left: 50;

        box-sizing: content-box;
        position: absolute;
        z-index: 9999998;
        background-color: #FFF;
        background-color: rgba(255,255,255,.9);
        border: 1px solid #777;
        border: 1px solid rgba(0,0,0,.5);
        border-radius: 4px;
        box-shadow: 0 2px 15px rgba(0,0,0,.4);
        transition: all .3s ease-out;
    }
}

@mixin sgHide() {
    &.sgIsHide{
        display: none;
    }
}

.sgModal{
    &-cover{
        @include sgHide();
    }
    &-title{
        @include sgHide();
    }
    &-map{
        @include sgHide();
    }
    &-close{
        @include sgHide();
    }
    &-header{
        padding: 0 25px 12px 25px;
        margin-top: 0;
        word-wrap: break-word;
        @include sgHide();
    }
    &-body{
        padding: 0 25px 7px;
        margin-top: 0;
        @include sgHide();
    }
    &-value{
        @include sgHide();
    }
    &-total{
        &::before{
            content: '/ ';
            padding-left: 3px;
        }
        @include sgHide();
    }
    &-prev{
        @include sgHide();
    }
    &-next{
        @include sgHide();
    }
    &-cancel{
        @include sgHide();
    }
    &-start{
        @include sgHide();
    }

    &-first{
        @include sgHide();
    }
    &-continue{
        @include sgHide();
    }
}


.SkyGuide{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    &-action{
        padding: 7px 12px 27px 12px;
        display: flex;
        .sgModal-close{
            margin-left: auto;
        }
        .sgModal-title{
            margin-right: auto;
        }
    }
    &-header{
        position: relative;
        font: 700 20px/1.2em Arial, Helvetica, sans-serif;
    }
    &-content{
        position: relative;
    }
    &-footer{
        position: relative;
        overflow: hidden;
        padding: 0 19px;
        text-align: right;
        flex-shrink: 0;
    }
    &-page{
        white-space: nowrap;
        padding: 20px 8px;
        margin: 0;
        display: block;
        position: relative;
        z-index: 99;
        flex-shrink: 0;
        float: left;
        color: rgba(0,0,0,0.4);
    }
    &-btn{
        background: rgba(0, 0, 0, 0);
        border: medium none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 14px;
        height: 36px;
        letter-spacing: 0;
        line-height: 36px;
        margin: 0;
        outline: medium none;
        overflow: hidden;
        padding: 0 8px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
    }
}
