body {
  font-family: sans-serif;
  font-size: 0.95rem; }

.SNTour-wrapper {
  position: relative; }
  .SNTour-wrapper::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background: white;
    top: 100%; }

.SNTour-overlay {
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  pointer-events: none; }

.SNTour-helperLayer {
  width: 810px;
  height: 70px;
  top: 0;
  left: 50;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 9999998;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #777;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.sgModal-cover.sgIsHide {
  display: none; }

.sgModal-title.sgIsHide {
  display: none; }

.sgModal-map.sgIsHide {
  display: none; }

.sgModal-close.sgIsHide {
  display: none; }

.sgModal-header {
  padding: 0 25px 12px 25px;
  margin-top: 0;
  word-wrap: break-word; }
  .sgModal-header.sgIsHide {
    display: none; }

.sgModal-body {
  padding: 0 25px 7px;
  margin-top: 0; }
  .sgModal-body.sgIsHide {
    display: none; }

.sgModal-value.sgIsHide {
  display: none; }

.sgModal-total::before {
  content: '/ ';
  padding-left: 3px; }

.sgModal-total.sgIsHide {
  display: none; }

.sgModal-prev.sgIsHide {
  display: none; }

.sgModal-next.sgIsHide {
  display: none; }

.sgModal-cancel.sgIsHide {
  display: none; }

.sgModal-start.sgIsHide {
  display: none; }

.sgModal-first.sgIsHide {
  display: none; }

.sgModal-continue.sgIsHide {
  display: none; }

.SkyGuide {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: white; }
  .SkyGuide-action {
    padding: 7px 12px 27px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .SkyGuide-action .sgModal-close {
      margin-left: auto; }
    .SkyGuide-action .sgModal-title {
      margin-right: auto; }
  .SkyGuide-header {
    position: relative;
    font: 700 20px/1.2em Arial, Helvetica, sans-serif; }
  .SkyGuide-content {
    position: relative; }
  .SkyGuide-footer {
    position: relative;
    overflow: hidden;
    padding: 0 19px;
    text-align: right;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .SkyGuide-page {
    white-space: nowrap;
    padding: 20px 8px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 99;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: left;
    color: rgba(0, 0, 0, 0.4); }
  .SkyGuide-btn {
    background: rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
